.header-mobile{
  top: 0;
  position: sticky;
  z-index: 9999999;
  background: #fff;
  padding: 16px 0;
    -webkit-box-shadow: 0px 1px 88px -4px rgba(143,143,143,0.74);
  -moz-box-shadow: 0px 1px 88px -4px rgba(143,143,143,0.74);
  box-shadow: 0px 1px 88px -4px rgba(143,143,143,0.74);
}

.header-mobile .menu{
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-mobile .logo{
  width: 109px;
  height: initial;
}

.header-mobile .search{
  width: 95%;
  margin: 15px auto 0;
  height: 23px;
 }

.header-mobile .search input{
  width: 90%;
  border: 0;  
}

.header-mobile .search input:focus-visible{
  outline: none;
}

.header-mobile .search button{
  width: 4%;
  border: 0;  
  background: transparent;
}

.header-mobile .search .search-container{
  border-bottom: 1px solid #7a7a7a;
  display: flex;
  justify-content: space-between;
}

.minicart{
  width: 37px;
  height: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.minicart .qtd{
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  overflow: hidden;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background-color: #f8475f;
}