
.product{
    width: 100%;
    max-width: 216px;
    height: 355px;
    padding-bottom: 2px;
    margin: 0 auto;
}

.product:hover{
    background-color: #E6E8EA;
}

.product:hover .product-buy{
    display: block;
}

.product-container{
    text-align:center;
    position: relative;
}

.product image{
    margin: 0 auto;
}

.product-name{
    text-transform: uppercase;
    font-size: 12px;
    color: #7A7A7A;
    margin: 7px 0 0 0;
}

.product-review{}

.product-prices .list-price{
    font-size: 12px;
    color: #7A7A7A;
    text-decoration: line-through;
}

.product-prices .best-price{
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin: 2px 0;
}

.product-prices .installments{
    font-size: 11px;
    color: #7A7A7A;
}

.product-buy{
    width: 125px;
    height: 32px;
    margin: 8px auto;
    background: #000;
    border-radius: 5px;
    color: #FFF;
    border: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px;
    display: none;
    cursor: pointer;
}

.flag{
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
}