.footer{
  color: #FFF;
  background: #000;
  padding: 27px;
  /* padding: 32px; */
}

.footer-container{
  width: 95%;
  max-width: 1278px;
  margin: 0 auto;
}

.address h4{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.address h4:after{
  content: "";
  display: block;
  width: 32px;
  height: 5px;
  margin-top: 10px;
  background: #FFFFFF;
}

.address a,
.address p{
  text-align: left;
  font-size: 13px;
  color: #FFFFFF;
  display: block;
  margin: 5px 0;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  
}

.call-center{
  margin-top: 45px;
}

.call-center a {
  width: 95%;
  height: 38px;
  max-width: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  background-color: #FFF;
  font-size: 12px;
  border-radius: 5px;
  color: #000;
  margin: 20px auto;
  text-decoration: none;
  text-transform: uppercase;
}

.call-center span {
  display: block;
  width: 125px;
}

.created-by{
  text-align: center;
  color: #fff;
  font-size: 10px;
  margin: 0;
}

.created-by p{
  text-align: center;
  color: #fff;
  font-size: 10px;
  margin: 0;
}


@media (min-width: 721px) {
  .footer-top{
    display: flex;
    flex-direction: column-reverse;
  }

  .call-center{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .created-by a{
    display: flex;
    align-items: baseline;
    justify-content: end;
    text-decoration: none;
  }

  .created-by p{
    margin-right: 8px;
  }
}