
*{
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

:root {
  font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #FFF;
}

body {
  margin: 0;
}

.container{
  width: 100%;
  max-width: 1278px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
}